* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  background-color: aliceblue;
  height: 100vh;
  justify-content: space-evenly;
}

.column {
  background-color: antiquewhite;
  height: 100%;
  width: 33%;
}

.column h1 {
  text-align: center;
}
